{% import "macros.html" as macros %}
{% extends "layout.html" %}

{% block article_body %}

<div class="o-grid-container">
  <div class="o-grid-row">
    <div data-o-grid-colspan="12 S11 Scenter">
    <div class="confucius-graphic">
      <!-- <h3>Confucius institutes around the world</h3>
      <p>Since the establishment of the first Confucius Institute in 2004, the number of Institutes around the world has grown to 500 in 2017 spreading over 126 countries.</p> -->
      <div class="locations-map">
        <button class="play-button">&#9654 Play animation</button>
      </div>
    </div>
    </div>
  </div>
</div>

<div class="o-grid-container">
  <div class="o-grid-row">
    <div data-o-grid-colspan="12 S11 Scenter M9 L8 XL7">
      {% markdown %}

      {{data.beforechart}}

      {% endmarkdown %}
    </div>
  </div>
</div>

<div class="o-grid-container">
  <div class="o-grid-row">
    <div data-o-grid-colspan="12 S11 Scenter">
      <figure class="responsive-graphic__smallmults">
        <img class="responsive-graphic__smallmults--s" alt="" src="./images/region-histogram_s.png"/>
        <img class="responsive-graphic__smallmults--m" alt="" src="./images/region-histogram_m.png"/>
        <img class="responsive-graphic__smallmults--l" alt="" src="./images/region-histogram_l.png"/>
      </figure>
    </div>
  </div>
</div>

<div class="o-grid-container">
  <div class="o-grid-row">
    <div data-o-grid-colspan="12 S11 Scenter M9 L8 XL7">
      {% markdown %}

      {{data.afterchart}}

      {% endmarkdown %}
    </div>
  </div>
</div>

<div class="o-grid-container">
  <div class="o-grid-row">
    <div data-o-grid-colspan="12 S11 Scenter M9 L8 XL7">
      <figure class="graphic graphic-b-1 graphic-pad-1">
        <img alt="photo of Confucius Institute" src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fim.ft-static.com%2Fcontent%2Fimages%2Fd79b974c-b2e9-11e7-aa26-bb002965bce8.img?source=ig&width=700">
        <figcaption class="o-typography-caption">
          Label in front of the entrance of Confucius Institute in Kazan city in Russia
        </figcaption>
      </figure>
      <p></p>
    </div>
  </div>
</div>

<div class="o-grid-container">
  <div class="o-grid-row">
    <div data-o-grid-colspan="12 S11 Scenter M9 L8 XL7">
      {% markdown %}

      {{data.afterphoto}}

      {% endmarkdown %}
    </div>
  </div>
</div>





{% endblock %}
