@import 'o-colors/main';
@import 'o-grid/main';
@import 'components/core/main';

/*
      TODO: delete this comment

      Write your code here - keep it neat!
      Split logical parts of you project into components e.g.

      /client
        - /components
            - /component-name
                - styles.scss
                - index.js
                - template.html
*/

.confucius-graphic svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.graticule {
  fill: none;
  stroke: #dcdcdc;
  stroke-width: .5px;
}