@import 'o-colors/main';
@import 'o-grid/main';
@import 'components/core/main';

/*
      TODO: delete this comment

      Write your code here - keep it neat!
      Split logical parts of you project into components e.g.

      /client
        - /components
            - /component-name
                - styles.scss
                - index.js
                - template.html
*/

.confucius-graphic {
  margin-bottom: 2em;
}

.locations-map button {
  margin-left: 5%;
  padding: 0.5em;
  border-style: solid;
  border-radius: 0.2em;
  border-color: #d0d7cc;
  background-color: #d0d7cc;

  @include oGridRespondTo($until: M) {
    margin-left: auto;
  }
}

.locations-map svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.graticule {
  fill: none;
  stroke: #dcdcdc;
  stroke-width: .5px;
}

/* slider */
.ticks {
  font-size: 0.75em;

  @include oGridRespondTo($until: M) {
    text:not(:first-child):not(:last-child) {
      display: none;
    }
  }
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke:#dcdcdc;
  stroke-width: 10px;
}

.track-inset {
  stroke: #dcdcdc;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

.histLabel {
  font-size: 0.7em;

  @include oGridRespondTo(M) {
    font-size: 1em;
  }
}

/* counter */
.counter {
  font-size: 0.85em;
  
  @include oGridRespondTo(M) {
    font-size: 1em;
  }
}

.counter .number {
  font-size: 2.5em;
  fill: #cd5c5c;
  opacity: 0.8;
}

.responsive-graphic__smallmults {
  img {
    width: 100%;
  }

  &--m, &--l {
    display: none;
  }

  @include oGridRespondTo(M) {
    &--m {
      display: block;
    }

    &--s, &--l {
      display: none;
    }
  }

  @include oGridRespondTo(L) {
    &--l {
      display: block;
    }

    &--s, &--m {
      display: none;
    }
  }
}
